<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="V2 Regression Tests">

    <listeners>
        <listener class-name="CustomTestListener.RetryAnnotationTransformer"/>
    </listeners>

    <!--<test name="Embold Terms And Services Validation">
        <classes>
            <class name="BeginTestExecution"/>
            <class name="TermsAndServicePageTests"/>
            <class name="EndTestExecution"/>
        </classes>
    </test>-->

    <test name="Embold Sign Up Validation">
        <classes>
            <class name="BeginTestExecution"/>
            <class name="EmboldSignUpPageTests"/>
            <class name="EndTestExecution"/>
        </classes>
    </test>

    <test name="Embold Sign In Validation">
        <classes>
            <class name="BeginTestExecution"/>
            <class name="EmboldSignInPageTests"/>
            <class name="EndTestExecution"/>
        </classes>
    </test>

    <test name="Embold Sign out Validation">
        <classes>
            <class name="BeginTestExecution"/>
            <class name="EmboldSignOutTestsForGitHub"/>
            <class name="EmboldSignOutTestsForBitbucket"/>
            <class name="EndTestExecution"/>
        </classes>
    </test>


</suite>